label {
    text-align: center;
}

#homePage {
    background-color: #FEFEF3;
}

/* Style de l'en-tête */
.ui-header h1,
.ui-header h2 {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 10px; 
    color: #333;
}

/* Style pour l'image de bienvenue */
.welcome-image {
    width: 100%;
    max-width: 300px;
    margin: 50px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style pour le message de bienvenue */
.welcome-message {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

/* Style pour le bouton "To Do List" */
a.ui-btn {
    background-color: #46e951 !important; 
    border-color:#46e951 !important;
    color: #333 !important; 
    text-align: center;
}

/* Changement de couleur au survol du bouton */
a.ui-btn:hover {
    background-color: #1a8d1b !important; 
    border-color: #1a8d1b !important;
}

body {
    background-color: #FEFEF3 !important; /* Couleur de fond */
}

div[data-role="header"],
div[data-role="footer"] {
    background-color: #46e951 !important;
    color: black !important; 
}

.ui-header h1, .ui-header h2 {
    display: flex;
    align-items: center;
}

input[type="button"] {
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Font Awesome 6', sans-serif;
}

input[type="button"].add-btn {
    background-color: #67e967; 
    color: black; 
}

input[type="button"].reset-btn {
    background-color: #6df895;
    color: black; 
}

/* Style pour les listes de tâches */
ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
.termine {
    text-decoration: line-through;
    background-color: #d4edda; 
}


li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

li.terminee {
    text-decoration: line-through;
    background-color: #d4edda;
}

.sortable-list {
    min-height: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}


